In [25]:
import pandas as pd
raw_csv_data = pd.read_csv("Absenteeism-data.csv") # Using absenteeism data for our regression

df = raw_csv_data.copy() # Making a copy of the data and storing it into a pandas dataframe

df = df.drop(['ID'], axis = 1) # Dropping the first column 'ID' because it isn't useful for our analysis axis = 1 indicates column instead of default row

df # printing the new dataframe to make sure ID column was dropped

df_no_age = df.drop(['Age'], axis = 1) # Creating new variable that excludes age 
df

# Splitting 'Age' column into dummy variables, a binary variable that = '1' if a categorical effect is present and '0' if not

age_dummies = pd.get_dummies(df['Age']) # variable that contains which datapoints contain specific age values

age_dummies.columns.values # Column headers/values for each input in the age dummies variable.

df_concatenated = pd.concat([df_no_age, age_dummies], axis = 1) # Create new df that does not contain ages in a seperate column anymore, but has them listed in a 'boolean-fashion' based on the age number
df_concatenated # Testing to see if concatenating function was completed properly 


df_concatenated.columns.values 
column_names = (['Reason for Absence', 'Date', 'Transportation Expense',  'Distance to Work', 'Daily Work Load Average', 'Body Mass Index','Education', 'Children', 'Pets', 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48, 49, 50, 58, 'Absenteeism Time in Hours'])
df_concatenated.columns = column_names
df_concatenated

# df_checkpoint = df_concatenated.copy() # Copy of what has been worked on thus far!

# df_checkpoint


# Creating a month and date value, could be useful to see what days of the week are most prone to having absent employees month = 1-12 weekday = 0-6

df_reason_mod = df.copy()

df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y') # Using the pandas function to include date and time




list_months = [] # creating a empty dictionary that will contain month values

# df_reason_mod.shape # Referencing the shape of our dataframe to make sure for loop iterates over it correctly 

for i in range(df_reason_mod.shape[0]): # creating for loop that adds month values to the data frame using append function
    list_months.append(df_reason_mod['Date'][i].month)
    
    
df_reason_mod['Month'] = list_months # Add a column of month
# df_reason_mod.head(20)


# Adding the day of the week as well 

def date_to_weekday(date_value): # creating a function called date_to_weekday that takes date value as its argument and returns the day of the week
    return date_value.weekday()

df_reason_mod['Weekday'] = df_reason_mod['Date'].apply(date_to_weekday) # creating new column name of weekday that applies our previously defined function

df_reason_mod.tail(20)

#raw_csv_data

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Weekday
680,28,2018-05-10,291,31,40,237.656,25,1,1,1,2,5,3
681,14,2018-05-10,225,15,41,237.656,28,4,2,2,8,5,3
682,19,2018-05-11,300,26,43,237.656,25,1,2,1,64,5,4
683,22,2018-05-11,225,15,41,237.656,28,4,2,2,8,5,4
684,27,2018-05-11,179,26,30,237.656,19,3,0,0,2,5,4
685,23,2018-05-14,118,13,50,237.656,31,1,1,0,2,5,0
686,5,2018-05-15,118,13,50,237.656,31,1,1,0,3,5,1
687,28,2018-05-15,118,10,37,237.656,28,1,0,0,1,5,1
688,0,2018-05-15,118,13,50,237.656,31,1,1,0,0,5,1
689,27,2018-05-16,179,26,30,237.656,19,3,0,0,2,5,2
690,0,2018-05-16,378,49,36,237.656,21,1,2,4,0,5,2
691,16,2018-05-18,179,22,40,237.656,22,2,2,0,1,5,4
692,10,2018-05-21,155,12,34,237.656,25,1,2,0,48,5,0
693,10,2018-05-21,235,16,32,237.656,25,3,0,0,8,5,0
694,22,2018-05-23,291,31,40,237.656,25,1,1,1,8,5,2
695,10,2018-05-23,179,22,40,237.656,22,2,2,0,8,5,2
696,6,2018-05-23,225,26,28,237.656,24,1,1,2,3,5,2
697,10,2018-05-24,330,16,28,237.656,25,2,0,0,8,5,3
698,23,2018-05-24,235,16,32,237.656,25,3,0,0,2,5,3
699,28,2018-05-31,291,31,40,237.656,25,1,1,1,2,5,3